@font-face {
    font-family: MonseratRegular ;
    src: url(../fuentes/Blue\ Yellow.ttf);
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../fuentes/Lemon\ Tea.ttf );
}


@font-face {
    font-family: Photographer;
    src: url(../fuentes/Agraham.otf);
}